<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/styles/stackImages.css">
</head>

<body>
	<button class="foo-button mdc-button">
		Button
	</button>

	<section class="component-catalog-panel ">
		<ul class="mdc-image-list standard-image-list mdc-image-list--with-text-protection">
			<li class="mdc-image-list__item">
				<div class="mdc-image-list__image-aspect-container">
					<img class="mdc-image-list__image"
						src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/1.jpg"
						alt="Text label">
				</div>
				<div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
			</li>
		</ul>
	</section>
</body>

</html>