<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/styles/stackImages.css">
</head>

<body>

	<section id="photo-grid">
		<ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-100.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-28.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-126.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-128.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-171.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-178.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-5.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-23.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-26.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-57.jpg">
				<div class="mdc-image-list__supporting">
					<span class="mdc-image-list__label"></span>
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-118.jpg">
				<div class="mdc-image-list__supporting">
					<span class="mdc-image-list__label"></span>
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-180.jpg">
				<div class="mdc-image-list__supporting">
					<span class="mdc-image-list__label"></span>
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-189.jpg">
				<div class="mdc-image-list__supporting">
					<span class="mdc-image-list__label"></span>
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-190.jpg">
				<div class="mdc-image-list__supporting">
					<span class="mdc-image-list__label"></span>
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="/images/20190713-zeald-fam-221.jpg">
				<div class="mdc-image-list__supporting">
					<span class="mdc-image-list__label"></span>
				</div>
			</li>
		</ul>
	</section>

	<script>
		// Check that service workers are supported
		if ('serviceWorker' in navigator) {
			// Use the window load event to keep the page load performant
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/sw.js')
					.then((registration) => {
						console.log(registration);
					}).catch((error) => {
						console.error(error);
					});
			});
		}
	</script>
</body>

</html>