<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<!-- <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
	<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="styles/stackImages.css">
</head>

<body>
	<section id="photo-grid">
		<ul class="mdc-image-list mdc-image-list--masonry my-masonry-image-list">
			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180317-flower-1.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180331-light-1.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180317-flower-3.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180331-flower-4.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180402-flower-5.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180317-flower-2.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180401-heart-1.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180402-flower-6.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180331-food-1.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180331-food-2.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180407-cake-1.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180401-golden-1.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>

			<li class="mdc-image-list__item photo-container">
				<img class="mdc-image-list__image" src="images/thumbnails/20180316-rust-1.jpg">
				<div class="mdc-image-list__supporting">
				</div>
			</li>
		</ul>
	</section>

	<script>
		(() => {
			// Use the window load event to keep the page load performant
			window.addEventListener('load', () => {
				// Check that service workers are supported
				if ('serviceWorker' in navigator) {
					navigator.serviceWorker.register('sw.js')
						.then((registration) => {
							console.log(registration);
						}).catch((error) => {
							console.error(error);
						});
				}

				// fetch('http://localhost:9000/api/my-data')
				// 	.then((response) => response.json())
				// 	.then((data) => {
                //         console.log(data);
                //         const personData = `<pre>${JSON.stringify(data)}</pre>`;
                //         document.getElementById('content').innerHTML = personData;
				// 	}).catch((error) => {
				// 		console.log(error);
				// 	});
			});

		})();


	</script>
</body>

</html>