<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter | Favorites</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/twitter-favorites.css">
</head>

<body>
    <div id="app">
        <header id="top-bar" class="mdc-top-app-bar --mdc-theme-primary">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <span class="mdc-top-app-bar__title">Tweets</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
                        <input type="text" id="my-input" class="mdc-text-field__input">
                        <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">search</i>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="my-input" class="mdc-floating-label">Your Name</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </section>
            </div>
        </header>

        <section id="tweets">
            <div id="favorite-tweets">
                <div class="mdc-card tweet-card">
                    <div class="heading__primary">
                        <h2 class="tweet-title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
                        <h3 class="tweet-author mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
                    </div>
                    <div class="body__secondary mdc-typography mdc-typography--body2">Visit ten places on our
                        planet that are undergoing the biggest changes today.</div>
                </div>
                <div class="mdc-card tweet-card">
                    <div class="heading__primary">
                        <h2 class="tweet-title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
                        <h3 class="tweet-author mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
                    </div>
                    <div class="body__secondary mdc-typography mdc-typography--body2">Visit ten places on our
                        planet that are undergoing the biggest changes today.</div>
                </div>
            </div>

        </section>
    </div>


    <script>
        (() => {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker.register('sw.js')
                        .then((registration) => {
                            console.log(registration);
                        }).catch((error) => {
                            console.error(error);
                        });
                }
            });
        })();
    </script>
    <script src="/js/twitterFavorites.js"></script>
</body>

</html>