<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter | Favorites</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/twitter-favorites.css">
</head>

<body>
    <header id="top-bar" class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">
                    menu
                </button>
                <span class="mdc-top-app-bar__title">Tweets</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
                    aria-label="Download">file_download</button>
                <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
                    aria-label="Print this page">print</button>
                <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded"
                    aria-label="Bookmark this page">bookmark</button>
            </section>
        </div>
    </header>

    <section id="tweets">
        <h1>Hello Tweets</h1>
    </section>

    <script>
        (() => {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker.register('sw.js')
                        .then((registration) => {
                            console.log(registration);
                        }).catch((error) => {
                            console.error(error);
                        });
                }
            });
        })();
    </script>
    <script src="/js/twitterFavorites.js"></script>
</body>

</html>