@import "@material/button/mdc-button";
@import "@material/image-list/mdc-image-list";
@import "@material/dialog/mdc-dialog";

body {
	font-family: 'Roboto', sans-serif;
}

.my-masonry-image-list {
	@include mdc-image-list-masonry-columns(5);
}

section#photo-grid {
	padding-right: 180px;
	padding-left: 180px;
}

li.photo-container {
	border-radius: 25px;
}

// @include mdc-dialog-min-width(800px);
// @include mdc-dialog-max-width(900px, 8px);

.mdc-dialog .mdc-dialog__surface {
	min-width: 500px;
	max-width: 600px;
}