@import "@material/button/mdc-button";
@import "@material/image-list/mdc-image-list";
@import "@material/dialog/mdc-dialog";

body {
	font-family: 'Roboto', sans-serif;
}

.my-masonry-image-list {
	@include mdc-image-list-masonry-columns(5);
}

section#photo-grid {
	padding-right: 180px;
	padding-left: 180px;
	padding-top: 8px;
	padding-bottom: 8px;
}

li.photo-container {
	border-radius: 25px;
}

.mdc-dialog .mdc-dialog__surface {
	min-width: 500px;
	max-width: 600px;
}

.mdc-image-list__image {
	cursor: pointer;
	@include mdc-image-list-shape-radius(8px, false);
}

.mdc-image-list__item {
	@include mdc-image-list-shape-radius(8px, false);
}