@import "@material/button/mdc-button";
@import "@material/image-list/mdc-image-list";

.foo-button {
	@include mdc-button-ink-color(teal);
	@include mdc-states(teal);
}

.my-masonry-image-list {
	@include mdc-image-list-masonry-columns(5);
}

section#photo-grid {
	padding-right: 180px;
	padding-left: 180px;
}

li.photo-container {
	border-radius: 25px;
}